<!doctype html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="scss/main.css">
        {{>headerLink}}
    </head>
    <body>
        {{>header}}
        {{errorcomment}}
        {{>footer}}
    </body>
</html>