<!doctype html>
<html lang="en">
  <head>
    
    <link rel="stylesheet" href="scss/main.css">
    {{>headerLink}}
  </head>
  <body>

    {{>header}}

    <!-- My hero part! -->
    <div class="header_hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-10 mx-auto">
                    <div class="header_hero__text">
                        <h2><span>music</span> for everyone.</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <div class="header_text__btn">
                            <a htref="#" alt="">download app now</a>
                            <a htref="#" alt="" id="btn__2">start 30 days free trials</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-10 mx-auto">
                    <figure class="header_hero__img"> 
                        <img src="images/hero-bg.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!-- My hero part! -->

    {{>footer}}
  </body>
</html>